# OS X
.DS_Store*
Icon?
._*

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# Linux
.directory
*~


# npm
node_modules
package-lock.json
*.log
*.gz

# Images
uploads/*
!uploads/.gitkeep
processed/*
!processed/.gitkeep

# Env
.env

# GCP
cloud/keys.json

# Coveralls
coverage

# Benchmarking
benchmarks/graphs